<div>
  <h1 class="font-bold text-4xl">Leagues#new</h1>
  <p>Find me in app/views/leagues/new.html.erb</p>

  <div>
    <%= simple_form_for (@league) do |f| %>
        <%= f.input :name, label: "Nom de ta Ligue"%>
        <%= f.input :logo, label: "Logo", as: :file %>
        <button class="main-button" type="submit">
          Ajouter
        </button>
    <% end %>
  </div>
</div>
