// Define variables for your color scheme

// For example:
$yellow: #ffff00;
$red: #da291c;
$pink: #ff286e;
$green: #04a879;
$blue: #1D00FF;
$light-gray: #f3f3f3;
$gray: #d1d5db;
$dark-gray: #6b7280;
