// Define variables for your color scheme

// For example:
$red: #D9291C;
$blue: #2660A4;
$pink: #FE276E;
$yellow: #FFFF00;
$green: #38a849;
$light-gray: #f3f3f3;
$gray: #d1d5db;
$dark-gray: #6b7280;
