.account {
  background-color: white;
  min-height: 86vh;
}

.account-card {
  border-bottom: 1px solid lightgray;

  p {
    font-size: 12px;
  }

  i {
    color: $green;
  }
}

.account-card-title {
  border-bottom: 1px solid lightgray;
  background-color: #f3f3f3;
  i {
    color: $green;
  }
}

.logout {
  color: $green;
  text-decoration: underline;
}
