.account {
  background-color: white;
}

.account-card {
  border-bottom: 1px solid lightgray;

  i {
    color: $blue;
  }
}

.account-card-title {
  border-bottom: 1px solid lightgray;
  background-color: #f3f3f3;
  i {
    color: $blue;
  }
}

.container-wrapper {
  h1 {
    font-weight: 600;
  }
}

.logout {
  color: $blue;
  text-decoration: underline;
}
