.settings {
  position: absolute;
  top: 0px;
  right: 0px;
  i {
    font-size: 15px;
  }
}

.leagues-card {
  background-color: white;
  border-radius: 15px;
  padding: 5px;
  h3 {
    font-size: 10px;
    text-align: center;
    font-family: $headers-font;
  }
}

.admissions-card {
  background-color: white;
  border-radius: 15px;
  padding: 5px;
  h3 {
    font-size: 10px;
    text-align: center;
    font-family: $headers-font;
  }
}

.races-card {
  background-color: white;
  border-radius: 15px;
  padding: 5px;
  h3 {
    font-size: 10px;
    text-align: center;
    font-family: $headers-font;
  }
  p {
    font-size: 13px;
    text-align: center;
  }
}

.btn-ok {
  color: $green;
}

.btn-ko {
  color: $red;
}
