.league-show {
  min-height: 86vh;
}

.league-ranking {
  background-color: $light-gray;
}

.league-jerseys {
  margin: 5px auto 5px auto;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: white;
  padding: 5px 20px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.league-choice {
  height: 90vh;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(87, 83, 83, 0.8) !important;
  display: flex;
  place-content: center;
  align-items: center;
}

.choice-leagues {
  position: absolute;
  bottom: 0;
}

.button-league {
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    color: white;
    font-size: small;
  }
}
