.manifest {
  min-height: 86vh;
}

.manifest-text {
  padding: 15px;
}

.manifest-sentence {
  font-size: 12px;
  line-height: 18px;
  font-style: italic;
  text-align: justify;
}

.manifest-quote-initial {
  padding-bottom: 4px;
}

.manifest-quote-final {
  width: 100%;
  text-align: right;
}
