.rider-card {
  width: 100%;
  background-color: white;
  padding: 10px;
}


.rider-info {
  width: 100%;
  background-color: $light-gray;
  padding: 10px;
}

.image-rider {
  margin: auto;
  display: block;
}
