<h2>Classement des Joueurs</h2>

<h2>Maillot Jaune</h2>
<h2>Maillot Vert</h2>
<h2>Maillot à Pois</h2>

<% @users.each do |user| %>
 <p><%= user.username %> - <%= user.display_score_total %></p>
<% end %>
