<div class='home-visitor'>

  <%= image_tag "LA FRINGALE.png", class:"img-logo" %>
  <h2 class='home-visitor-title'>Défie tes potes sur le Tour de France en pronostiquant le podium de chaque étape !</h2>
  <p class='home-visitor-text'>Pas besoin d'argent, juste de ton talent.</p>
  <%= link_to "Connexion", new_user_session_path, class: "second-button" %>
  <%= link_to "Inscription",  new_user_registration_path, class: "home-main-button" %>
  
</div>
