<div class='home-visitor'>

  <%= image_tag "LA FRINGALE (fond vert).jpg", class:"img-logo" %>

  <div class="bike-riding">
    <div class="clouds"></div>
    <div class="bike-shadow"></div>
    <div class="cyclist">
      <div class="bike">
        <div class="leftTyre">
          <div class="spokes"></div>
        </div>
        <div class="rightTyre">
          <div class="spokes"></div>
        </div>
        <div class="saddle"></div>
        <div class="wheel"></div>
        <div class="pedals"></div>
        <div class="chain"></div>
      </div>
    </div>
  </div>

  <div class='home-bottom'>
    <h2 class='home-visitor-title'>Défie tes potes sur les 3 grands tours cyclistes en pronostiquant le podium de chaque étape !</h2>
    <p class='home-visitor-text'>Pas besoin d'argent, juste de ton talent.</p>

    <p><%= link_to "Connexion", new_user_session_path, class: "second-button" %></p>
    <p><%= link_to "Inscription",  new_user_registration_path, class: "home-main-button" %></p>
  </div>

</div>
