<h2>Mes admissions</h2>
<div class="leagues grid grid-cols-2 gap-4">
  <% @admissions.each do |admission| %>
    <% if admission.status == "pending" %>
      <div class="league-card border-2 rounded border-black p-4">
        <div class="league-card-info flex justify-between">
          <%= admission.league.name %>
          <%= admission.user.username %>
        </div>
        <%= link_to "Accepter", admission_accept_path(admission), method: :patch %>
        <%= link_to "Refuser", admission_reject_path(admission), method: :patch %>
      </div>
    <% end %>
  <% end %>
</div>
