<div class="navbar-bottom">
  <%= link_to root_path do %>
    <div class="navbar-bottom-icon">
      <i class="fas fa-home"></i>
      <p>Accueil</p>
    </div>
  <% end %>
  <%= link_to results_path do %>
    <div class="navbar-bottom-icon">
      <i class="fas fa-trophy"></i>
      <p>Classement</p>
    </div>
  <% end %>
  <%= link_to stages_path do %>
    <div class="navbar-bottom-icon">
    <i class="fas fa-bicycle"></i>
      <p>La Course</p>
    </div>
  <% end %>
  <%= link_to info_path do %>
    <div class="navbar-bottom-icon">
      <i class="fas fa-bars"></i>
      <p>Infos</p>
    </div>
  <% end %>
</div>
