<div class="container-wrapper">
  <h1>Results#index</h1>

  <% @results.each do |result| %>
    <%= result.first.number %>
    <% result.last.each do |result| %>
      <%= result.result_position %>
      <%= result.rider.first_name %>
      <%= result.rider.last_name %>
     <% end %>
  <% end %>


</div>
