<div class="container-wrapper">

  <!-- En-tête -->
  <div class="title relative">
    <%= link_to root_path do %>
      <i class="fas fa-chevron-left absolute left-5 top-5" style="color: #ffffff"></i>
    <% end %>
    <h1>La Fringale</h1>
    <p> en 2 coups de pédale!</p>
  </div>
  <!-- Card description -->
  <p>La Fringale est un jeu de pronostics cycliste gratuit.</p>
  <p>Il permet de pronostiquer le podium des plus grandes courses de la saison en défiant tes amis, tes collègues ou ta famille.</p>
  <p>Plus ton pronostic est proche du podium réel, plus tu marques de points.</p>
  <p>Objectif : avoir le plus de points possibles pour décrocher la 1ère place du classement général !</p>
</div>
