<div class="container-wrapper">

  <!-- En-tête -->
  <div class="title relative">
    <%= link_to root_path do %>
      <i class="fas fa-chevron-left absolute left-5 top-5" style="color: #ffffff"></i>
    <% end %>
    <h1>FAQ</h1>
    <p> - </p>
  </div>
</div>
