<!-- Navbar top -->
<div class="navbar-top sticky top-O">
  <%= link_to root_path do %>
    <%= image_tag "LA FRINGALE.jpg" %>
  <% end %>
  <div class="menu">
    <p>Concept</p>
  </div>
</div>


<div class="faq">
  <div class="sub-title">
    <p>La Fringale en 2 coups de pédale !</p>
  </div>

  <div class="faq-text">
    <p class="pb-8">La Fringale est un jeu de pronostics cycliste gratuit.</p>
    <p class="pb-8">Il permet de pronostiquer le podium des plus grandes courses de la saison en défiant tes amis, tes collègues ou ta famille.</p>
    <p class="pb-8">Plus ton pronostic est proche du podium réel, plus tu marques de points.</p>
    <p class="pb-8"><strong>Objectif : avoir le plus de points possibles pour décrocher la 1ère place du classement général !</strong></p>
  </div>

  <div class="faq-podium">
    <p class="pb-4"><i class="fa-solid fa-award"></i></p>
    <p><i class="fa-solid fa-ranking-star"></i></p>
  </div>
</div>
