  <!-- Navbar top -->
<div class="navbar-top sticky top-O">
  <%= link_to root_path do %>
    <%= image_tag "LA FRINGALE.png" %>
  <% end %>
  <div class="menu">
    <p>Manifest</p>
  </div>
</div>

<!-- Card manifest -->
<div class="manifest">
  <div class="sub-title">
    <p>Règlement officiel de l'épreuve</p>
  </div>
  <div class='manifest-text'>
    <p class='manifest-quote-initial'><i class="fas fa-quote-left"></i></p>
    <p  class='manifest-sentence'>Moi, je serai impitoyable puisque vous avez la liberté de pronostiquer sur qui vous voulez.
    Donc permettez-moi d’être impitoyable sur certaines choses, quand même. Vous êtes bien d’accord ?
    Nous sommes là donnant-donnant. C’est-à-dire qu’un garçon qui va mettre trois coureurs français sur le podium
    et qui va tenter des choses et qui... Ok. Un garçon qui est dans le vide, dans le zig,
    non ça sert à rien pour le maillot jaune. Utile pour le classement, efficace, attaquant. Et venez pas m’emmerder.
    Venez pas m’emmerder. Fixez-vous des objectifs. TOUS. Qu’est-ce que je peux faire ?
    Quel est le profil de l’étape du jour ? Qui sont les favoris ? Qui a intérêt à prendre l’échappée ?
    Qu’est-ce que je dois pronostiquer ? Est-ce que vous avez compris, les mecs ? C’est ça, La Fringale.
    C’est simple. Pronostiquez simplement, pronostiquez comme vous le savez. Mettez-vous à la place des coureurs.
    En respectant toujours le cyclisme, en respectant le cyclisme que chacun va pratiquer. Remco, c’est pas Julian.
    Nono, c’est pas Julian. Petit bonhomme, là, c’est pas Julian. Jonas, c’est pas Julian. Il fait ses trucs...
    Tadej, pas de problème, c’est un attaquant, il roule, il en met une, il aime les forts pourcentages, il aime bien grimper.
    Wout, peut rouler, peut sprinter, C’EST un attaquant, Wout. Il prend des responsabilités, il attaque au km 0.
    Tac, il roule pour l’équipe, il roule tout seul. Il fait exploser le peloton, il n’y a plus personne qui est là, derrière lui.
    Remco, que ça soit départ ou à la fin... pas de problème. Il vient, provocation, il emmerde, il sait faire du vélo, CLAC !
    IL A LES JAMBES ! Il a les jambes, Remco... S’il n’a pas les jambes, faites attention... Je vous assure, vous allez voir.
    Vous allez avoir des déconvenues parce que vous aurez misez sur lui.
    Julian, leader, ça veut dire l’obligation d’attaquer au moindre coup de cul. Il accélère... il ralentit.
    Toujours spontanéité. Première intention pour que les adversaires soient dans le dur. Ok ?
    Il a un peu exagéré ces derniers temps. Ok ? Mais je sais, il avait 500 000 spectateurs sur les routes
    "Julian ! Julian ! Julian !" Qu’est-ce que vous voulez, il a pas pu résister.
    Normal, hein. Nono, Nono, lui, quelle est sa force ? C’est les trente derniers mètres. Il le sait. Trente derniers mètres.
    Bien entouré par les gars de la Groupama et, à un moment donné, on sait qu’il va se passer quelque chose avec lui,
    MAIS avant il se cale bien dans les roues... Arrivée en faux-plat montant, faux-plat descendant. On s’en fout les mecs !
    On s’en fout de ça... Et je terminerai par Primoz. Primoz, c’est l’un des meilleurs coureurs depuis trois ans...
    Combien de victoires en pro ? Cinquante ou soixante. Non, seulement, il est dans un doute, comme notre ami Thibaut.
    Comme notre ami qui ne gagne plus autant. Ils sont dans le doute. Un moment, y a le déclic.
    Le déclic, il vient à ceux qui sont audacieux, à ceux qui sont persévérants et à ceux qui sont in-te-lli-gents.
    Vous m’avez écouté vous critiquer ? Jamais. Respect total des pronostiqueurs.
    J’ai un respect total des pronostiqueurs parce que je suis incapable de prédire le scénario d’une étape.
    Je suis incapable de savoir qui va se glisser à l’avant. Je suis incapable de dire qui va faire 1, 2 ou 3,
    donc je sais ce que c’est que de jouer à La Fringale et de se tirer la bourre avec ses potes.</p>
    <p class='manifest-quote-final'><i class="fas fa-quote-right"></i></p>
  </div>
</div>
