<h1>Règles du Jeu</h1>
<ul>
  <li>10 points si le tiercé est dans l'ordre</li>
  <li>7 points si le vainqueur est trouvé avec le 2e et 3e inversés</li>
  <li>5 points si seul le vainqueur est trouvé (à la première place)</li>
  <li>1 point pour tout coureur trouvé dans le podium, peu importe que sa position soit bonne ou pas</li>
  <li>Cas particulier : 5 points si le tiercé est dans le désordre (avec le vainqueur non trouvé)</li>
</ul>
