<div class="container-wrapper">

   <!-- Navbar top -->
  <div class="navbar-top sticky top-O">
    <%= link_to root_path do %>
      <%= image_tag "221010_LA FRINGALE Identité graphique-05.png" %>
    <% end %>
    <div class="menu">
      <p>Règlement</p>
    </div>
  </div>

  <!-- Card Règles du Jeu -->
  <p>Attribution des points :</p>
  <ul>
    <li>• 5 points si tu as le bon vainqueur</li>
    <li>• 5 points si tu as le podium dans le désordre</li>
    <li>• 3 points si tu as le bon 2e</li>
    <li>• 2 points si tu as le bon 3e</li>
    <li>• 1 point si tu as un coureur sur le podium à une mauvaise place</li>
  </ul>

  <p>T’as bien calculé, ça fait 10 points pour le podium exact !</p>
  <p>A noter : les points marqués sur les étapes de montagne sont doublés !</p>
  <p>T’as l’air largué comme Cavendish sur le Ventoux, alors voici deux petits exemples :</p>

  <!-- Card Bonus -->
  <p>Bonus Lanterne rouge : 20 points si tu trouves la lanterne rouge du classement général (faut aussi s’intéresser un peu à ce qui se passe à l’arrière du peloton) !</p>
  <p>Bonus Seringue : tu doubles tes points sur l'étape de ton choix (hors étapes de montagne). Bonus utilisable une seule fois.</p>
</div>
