.bet-card {
  margin: 10px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
  padding: 5px 15px;
  min-width: 20vh;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.bet-card-host {
  margin: 10px;
  border: 1px solid $green;
  border-radius: 15px;
  background-color: white;
  padding: 5px 15px;
  min-width: 20vh;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.bet-card-user {
  font-size: 10px;
  color: $green;
}

.bet-card-riders {
  font-size: 12px;
}

.bet-card-points {
  font-size: 10px;
  color: $red;
  font-weight: 500;
  .score {
    font-size: x-large;
    font-weight: bold;
  }
  i {
    font-size: large;
  }
}

.bet-card-stage {
  border: 1px solid $green;
  background-color: $green;
  border-radius: 30%;
  padding: 5px;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

.result-bet-card {
  margin: 10px;
  border-radius: 15px;
  background-color: white;
  padding: 5px 15px;
  min-width: 20vh;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
