.main-button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: $blue;
  color: $white;
  padding: 10px;
  margin: 5px auto;
  font-size: 16px;
  border-radius: 25px;
  width: 70vw;
  border: none;
  font-family: $body-font;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}

.second-button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: white;
  color: $blue;
  padding: 10px;
  margin: 5px auto;
  font-size: 16px;
  border-radius: 25px;
  width: 70vw;
  border: 2px solid $blue;
  font-family: $body-font;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.third-button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: $blue;
  color: white;
  padding: 10px;
  margin: 5px auto;
  font-size: 16px;
  border-radius: 25px;
  width: 100%;
  border: none;
  font-family: $body-font;
  font-weight: 600;
}
