.main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: $blue;
  color: white;
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
  width: 90vw;
  border: none;
  font-family: $body-font;
  margin-top: 10px;
  margin-bottom: 10px;
  margin: auto;
}

.second-button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: white;
  color: $blue;
  padding: 10px;
  margin: 5px auto;
  font-size: 16px;
  border-radius: 25px;
  width: 70vw;
  border: 2px solid $blue;
  font-family: $body-font;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.third-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $dark-gray;
  padding: 10px;
  margin-top: 10px;
  font-size: 11px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid $dark-gray;
  font-family: $body-font;
  i {
    padding-right: 5px;
  }
}
