.main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: $green;
  color: white;
  padding: 8px 5px;
  font-size: 12px;
  border-radius: 5px;
  width: 90%;
  border: none;
  font-family: $headers-font;
  margin: 10px auto;
  text-transform: uppercase;
}

.second-button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: white;
  color: $green;
  padding: 8px 5px;
  font-size: 12px;
  border-radius: 5px;
  width: 90%;
  border: 1px solid $green;
  font-family: $headers-font;
  margin: 10px auto;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.third-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $dark-gray;
  padding: 10px;
  margin-top: 10px;
  font-size: 11px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid $dark-gray;
  font-family: $body-font;
  i {
    padding-right: 5px;
  }
}

.last-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline !important;
  text-underline-offset: 4px;
  color: $green;
  font-size: 0.875rem;
  border: none;
  font-family: $body-font;
  font-weight: bold;
  padding-bottom: 5px;
  padding-right: 5px;
}
