.logo {
  img {
    height: 10vh;
  }
  .lafringale{
    height: 13vh;
  }
}

.logo-league {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid white;
  position: absolute;
  top: 55px;
  background-color: white;
  object-fit: cover;
}

.logo-league-bis {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid white;
  background-color: white;
  object-fit: cover;
  margin: auto;
}

.logo-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  // border: 5px solid white;
  background-color: white;
  object-fit: cover;
}
