.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $green;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
  height: 6vh;
  img {
    width: 50%;
  }
}

.menu {
  padding-right: 7px;
  p {
    font-family: $headers-font;
    font-size: 13px;
  }
}
