.navbar-bottom {
  background-color: white;
  font-family: $body-font;
  display: flex;
  justify-content:space-around;
  padding-bottom: 20px;
  position: sticky;
  width: 100%;
  bottom: 0;
  box-shadow: 4px 4px 10px $light-gray;
  z-index: 10;
  border-top: 1px solid $light-gray;
  width: 100vw;
  margin: auto;
  @media (min-width: 768px) {
    width: 50vw;
  }
  // min-height: $navbar-bottom-height;

  a {
    text-decoration: none;
  }
}

.navbar-bottom-icon {
  color: $gray;
  height: 50px;
  width: 75px;
  font-family: $body-font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  i {
    font-size: 20px;
    margin-top: 10px;
  }

  p {
    font-size: 9px;
  }
}

.active {
  .fas {
    color: $green;
  }
  p {
    color: $green;
  }
}
