.stage-card {
  width: 100%;
  padding: 10px;
  background-color: white;
  border-top: 1px solid lightgray;
  a {
    text-decoration: none !important;
    color: black;
  }
  p {
    font-size: 12px;
  }
}

.stage-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  i {
    font-size: large;
  }
}

.stage-info-first {
  width: 40%;
}

.stage-info-last {
  width: 50%;
}

.stage-info-etape {
  background-color: $yellow;
  padding: 5px;
  font-family: $headers-font;
  font-size: large;
  font-weight: bold;
}

.stage-info-date {
  font-family: $headers-font;
  font-size: medium;
  padding-left: 10px;
  font-weight: bold;
}

.stage-info-profil {
  font-family: $headers-font;
  font-size: small;
  font-weight: bold;
  i {
    background-color: black;
    padding: 6px;
    color: $yellow;
    border-radius: 3px;
    margin-right: 3px;
  }
}

.stage-map img {
  height: auto;
  object-fit:cover;
}

.top-stage  {
  width: 100%;
}

.switch-stage i {
  color: $blue;
  font-size: 25px;
  margin-top: 10px;
  padding: 0 5px;
}

.stage-button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: white;
  color: $blue;
  padding: 10px 30px;
  margin: 5px auto;
  font-size: 16px;
  border-radius: 25px;
  border: 2px solid white;
  font-family: $body-font;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}
