.stage-card {
  width: 100%;
  padding: 10px;
  border-top: 1px solid black;
  a {
    text-decoration: none !important;
    color: black;
  }
}

.stage-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  i {
    font-size: large;
  }
}

.stage-info-etape {
  background-color: $yellow;
  padding: 5px;
  font-family: $headers-font;
  font-size: large;
  font-weight: bold;
}

.stage-info-date {
  font-family: $headers-font;
  font-size: medium;
  padding-left: 10px;
  font-weight: bold;
}

.stage-info-profil {
  font-family: $headers-font;
  font-size: small;
  font-weight: bold;
  i {
    background-color: black;
    padding: 6px;
    color: $yellow;
    border-radius: 3px;
    margin-right: 3px;
  }
}

.stage-map img {
  height: auto;
  object-fit:cover;
}

.top-stage  {
  width: 100%;
}

.switch-stage i {
  color: $blue;
  font-size: 25px;
  margin-top: 10px;
  padding: 0 5px;
}
